.purchase{
  border: solid;
  border-color: blue;
}

.bookcover{
  border: solid;
  border-color: red;
}

.synopsis{
  border: solid;
  border-color: green;
}

.review{
  border: solid;
  border-color: black;
}